@model filelist
@{
    ViewData["Title"] = "เพิ่มข้อมูลเอกสาร";
}

<body class="hold-transition sidebar-mini">
    <div class="card">
        <form asp-action="SaveCompetitionFilelist" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="id" id="id" name="id" hidden />
            <input asp-for="fileurl" id="fileurl" name="fileurl" hidden />
            <div class="card card-info">
                <div class="card-header">
                    <h2 class="card-title">เพิ่มข้อมูลเอกสาร</h2>
                </div>
                <div class="card-body">

                    <!-- Main content -->
                    <section class="content">
                        <div class="container-fluid">
                            <div class="card card-default">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="Name" class="col-sm-2 col-form-label">รายละเอียดไฟล์</label>
                                        <div class="col-sm-10">
                                            <input asp-for="name" name="Name" class="form-control" />
                                            <span asp-validation-for="name" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="File" class="col-sm-2 col-form-label">อัปโหลดไฟล์</label>
                                        <div class="col-sm-10">
                                            <input asp-for="fileurl" type="file" name="File" class="form-control" />
                                            <span asp-validation-for="fileurl" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                </section>

                <div class="card-footer">
                    <button type="submit" class="btn btn-info">บันทึกข้อมูล</button>
                    <button asp-action="frmfileList" asp-controller="Admin"
                        class="btn btn-default float-right">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    </div>
</body>
