@{
    ViewData["Title"] = "เพิ่มข้อมูลโรงเรียนจากไฟล์ Excel";
}

<body class="hold-transition sidebar-mini">
    <div class="card">
        <form asp-action="frmschoolexcel" asp-controller="Admin" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input idr="Id" hidden>
            <div class="card card-info">
                <div class="card-header">
                    <h2 class="card-title">เพิ่มข้อมูลโรงเรียนจากไฟล์ Excel</h2>
                </div>
                <div class="card-body">
                    <!-- Main content -->
                    <section class="content">
                        <div class="container-fluid">
                            <div class="card card-default">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">ไฟล์ Ecxel</label>
                                        <div class="col-sm-10">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" name="file" id="customFile" accept=".xls, .xlsx">
                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </section>
                    <div class="card-footer">
                        <button type="submit" value="Submit" class="btn btn-info">บันทึกข้อมูล</button>
                        <button asp-action="frmschoolList" asp-controller="Admin"
                            class="btn btn-default float-right">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
<link type="text/css" href="~/css/css/ui-lightness/jquery-ui-1.8.10.custom.css" rel="stylesheet" />
<script type="text/javascript" src="~/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="~/js/jquery-ui-1.8.10.offset.datepicker.min.js"></script>
<script src="~/plugins/jquery/jquery.min.js"></script>
<script>$(function () {
        $('.select2').select2()
        bsCustomFileInput.init();
    });
</script>
<script>
    document.getElementById('inputExcelFile').addEventListener('change', function(event) {
        const file = event.target.files[0];
        const allowedExtensions = /(\.xls|\.xlsx)$/i;

        if (file && !allowedExtensions.exec(file.name)) {
            alert('กรุณาอัปโหลดเฉพาะไฟล์ Excel (.xls หรือ .xlsx)');
            event.target.value = ''; // Clear the input
            return false;
        }
    });
</script>